html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@font-face {
  font-family: "Kenfolg Serif";
  src: url("../public/fonts/Kenfolg.otf") format("opentype");
}

.kenfolg {
  font-family: "Kenfolg Serif", serif;
}

.round {
  border: 1px solid;
  border-radius: 15px;
  padding: 7px;
  /* color: rgba(35, 142, 192, 0.88); */
  color: rgba(67, 172, 220, 0.88);
  background-color: rgba(204, 229, 240, 0.075);
  margin: 2px 4px;
  font-weight: bold;
}

.round:hover {
  color: rgba(160, 221, 249, 0.88);
}

.github-chart {
  filter: brightness(1) contrast(1.2);
}

.css-qwb71x-MuiButtonBase-root-MuiIconButton-root{
  color: white;
}

.my-logo {
  width: 6%;
}

@media (min-width: 2100px) {
  .navbar-wavy::before {
    background-size: 100% calc(2vw + 74px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 1200px) {
  .my-logo {
    width: 8%;
  }
}

@media (max-width: 960px) {
  .my-logo {
    width: 10%;
  }
}

@media (max-width: 750px) {
  .my-logo {
    width: 13%;
  }
}

@media (max-width: 600px) {
  .my-logo {
    width: 17%;
  }
}
